.signin {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .signin_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 200px;
  }

  .signin_container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;

    h1 {
      font-weight: 500;
      margin-bottom: 20px;
    }

    form {
      h5 {
        margin-bottom: 5px;
      }

      input {
        height: 30px;
        margin-bottom: 10px;
        background-color: white;
        width: 98%;
      }

      .login_signinButton {
        width: 100%;
        height: 30px;
        background-color: #c1c5e9;
        border: 3px solid;
        margin-top: 10px;
        border-color: #676874 #4d5069 #363b6b;
        color: #363b6b;
        font-size: 16px;
      }
    }

    p {
      margin-top: 15px;
      font-size: 12px;
    }

    .login_registerButton {
      width: 100%;
      height: 30px;
      border: 3px solid;
      margin-top: 10px;
      border-color: #676874 #4d5069 #363b6b;
      color: #363b6b;
      font-size: 16px;
      border-radius: 2px;
    }
  }
}
