.checkoutProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: solid 1px lightgrey;
  .checkoutProduct_img {
    object-fit: contain;
    width: 180px;
    height: 180px;
    flex: 1;
  }
  .checkoutProduct_info {
    flex: 1;

    padding-left: 20px;
    .checkoutProduct_title {
      font-size: 18px;
      font-weight: 800;
    }
    .checkoutProduct_price {
    }
    .checkoutProduct_rating {
      display: flex;
    }
    button {
      background-color: #c1c5e9;
      border: 1px solid;
      margin-top: 10px;
      border-color: #363b6b;
      color: #363b6b;

      &:hover {
        background-color: #fff;
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.2s ease;
      }

      &:active {
        background-color: #363b6b;
        transform: scale(0.95);
        transition: all 0.2s ease;
      }
    }
  }
}
